* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

.container {
  display: grid;
  font-family: 'Montserrat', sans-serif;
  grid-template-columns: 65% 35%;
  height: 1000;
  height: 100vh;
  z-index: 100;
  position: relative;
}

.container-one {
  padding-left: 10rem;
  padding-top: 45vh;
  background: #f8f6f8;
}
.container-one h2 {
  font-weight: 600;
}

.container-one h4 {
  font-weight: normal;
}
.container-two {
  background: #f39b7c;
}

.card-details {
  position: absolute;
  display: grid;
  grid-template-columns: 69% 1fr;
  width: 600px;
  height: 350px;
  background: white;
  z-index: 500;
  top: 25%;
  margin-left: 38%;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.12);
  animation: bounce 2s infinite alternate;
}
.card-details:hover {
  cursor: pointer;
  box-shadow: 0 30px 90px rgba(0, 0, 0, 0.12);
}
.card-details::after {
  content: '';
  height: 140px;
  width: 10px;
  left: 0;
  top: 0;
  background: rgb(243, 155, 124);
  background: linear-gradient(
    118deg,
    rgba(243, 155, 124, 1) 53%,
    rgba(247, 200, 9, 1) 56%
  );
  position: absolute;
}

.image-holder {
  background-image: url('https://miro.medium.com/max/3150/2*QjrMrzxo2llOdpPR5DKCuw.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
.card-info {
  padding: 12px 25px;
}

.card-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(247, 200, 9, 1);
  object-fit: cover;
  object-position: center center;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12);
  padding: 6px;
  margin-left: 5px;
  margin-top: 10px;
}

.card-info img:hover {
  border: 1px solid #ff4785;
  transform: scale(1.2);
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  margin-top: 10px;
}

.pill {
  border: 1px solid #5e5d5e;
  background-color: #ffffff;
  padding: 6px;
  border-radius: 5px;
  font-size: 12px;
  color: black;
}

.icons a {
  text-decoration: none;
  width: 100%;
  display: flex;
  margin: 5px 0;
  transition: all 0.2s ease-in;
}

.icons .pill:hover {
  background-color: #f8f6f8;
}

.fa-github,
.fa-medium {
  color: black;
}

.fa-linkedin {
  color: #0077b5;
}
.fa-twitter {
  color: #1c9deb;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
